* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: lime;
}


.row {
    display: flex;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

div {
    border: 1px solid goldenrod;
}