* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: lime;
}


.row {
    display: flex;
    width: 95%;
    margin: auto;
    flex-wrap: wrap;
}

div {
    border: 1px solid goldenrod;
}

[class*="col"]{
    margin: 4px auto;
}

.col-xsm-1 {
    width: 8.33%;
}

.col-xsm-2 {
    width: 16.66%;
}

.col-xsm-3 {
    width: 25%;
}

.col-xsm-4 {
    width: 33.33%;
}
.col-xsm-5 {
    width: 41.66%;
}

.col-xsm-6 {
    width: 50%;
}

.col-xsm-7 {
    width: 58.33%;
}

.col-xsm-8 {
    width: 66.66%;
}

.col-xsm-9 {
    width: 75%;
}

.col-xsm-10 {
    width: 83.33%;
}

.col-xsm-11 {
    width: 91.66%;
}

.col-xsm-12 {
    width: 100%;
}